<h1>Archived Book List</h1>
<ul>
    <% @books.each do |book| %>
    <li>
        <%= link_to book.title, book %>
        <%= button_to "Unarchive", unarchive_book_path(book), method: :put %>
    </li>
    <% end %>
</ul>

<%= link_to "Home", root_path %>