<h1>Book List</h1>
<table>
    <% @books.each do |book| %>
    <tr>
        <td>
            <%= link_to book.title, book %>
        </td>
        <td>
            <% if book.old %>
            <p> Old </p>
            <% else %>
            <p> New! </p>
            <% end %>
        </td>
        <td>
            <%= button_to "Archive", archive_book_path(book), method: :put  %>
        </td>
    </tr>
    <% end %>
</table>

<%= link_to "New Book", new_book_path %>
<%= link_to "Archived Books", archived_books_path %>